
.create-bookmark-box {
  margin-top: 80px;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 10px grey;
  position: relative;
}

.form-back-2 {
  position: absolute;
  left: 200px;
  bottom: 30px;
}
