
.create-list-box {
  margin-top: 80px;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 10px grey;
  position: relative;
}

.form-back {
  position: absolute;
  left: 148px;
  bottom: 30px;
}
